<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" ><!-- Added this statement from the stack overflow solution -->
<suite name="Yauto">
<!-- 
<listeners>
		<listener class-name="com.qa.reports.ExtentReportListener"/>
		<listener class-name="com.crm.Analyzer.MyTransformer"/>
</listeners> -->
 <test name="Test">
    <classes>
      <class name = "first.Google"></class>
      <class name = "first.Google2"></class>
      <class name = "first.HelloWorld"></class>
     
    </classes>
  </test> 
</suite> 